<!DOCTYPE html>
<html>
    <head>
        <title>Admin - Add Product</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}">
    </head>

    <body>
        <h1 class='centerbutton'>Add a new Product</h1>

        <form method="POST" action="/admin/add_product">
        <p>Things highlighted in bold are required</p>
        <p>
            Product Name: <input type="text" name="product_name"><br>
            Product Category: <input type="text" name="product_category"><br>
            Current Inventory: <input type="text" name="cur_size"><br>
            UPC: <input type="text" name="upc"><br>
            Unit of Measure: <input type="text" name="unit_of_measure"><br>
            Buy Price: <input type="text" name="buy_price_per_unit"><br>
            Item Price: <input type="text" name="item_price"><br>
            Package Quantity: <input type="text" name="package_quantity"><br>
            Region: <input type="text" name="region"><br>
            Country: <input type="text" name="country"><br>
            Color: <input type="text" name="color"><br>
            Description: <input type="text" name="description"><br>
            Brand Name: <input type="text" name="brand_name"><br>
            Brand Description: <input type="text" name="brand_description"><br>
            Brand Point of Contact: <input type="text" name="brand_poc"><br><br>

            <input type="submit" value="Add">
        </p>
        </form>
        
    </body>

</html>