<!DOCTYPE html>
<html>
    <head>
        <title>Admin - Add Product</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}">
    </head>

    <body>
        <h1 class='centerbutton'>Add a New Product</h1>
        <a href="product">Return to All Products</a>

        <form method="POST" action="/admin/add_product">
        <p>Things highlighted in bold are required</p>
        <p>
            <b>Product Name:</b> <input type="text" name="product_name"><br>
            Product Category: <input type="text" name="product_category"><br>
            <b>Current Inventory</b>: <input type="text" name="cur_size"><br>
            <b>UPC</b>: <input type="text" name="upc"><br>
            <i>Must be unique UPC</i><br>
            Unit of Measure: <input type="text" name="unit_of_measure"><br>
            <b>Buy Price</b>: <input type="text" name="buy_price_per_unit"><br>
            <b>Item Price</b>: <input type="text" name="item_price"><br>
            <b>Package Quantity</b>: <input type="text" name="package_quantity"><br>
            Region: <input type="text" name="region"><br>
            Country: <input type="text" name="country"><br>
            Color: <input type="text" name="color"><br>
            Description: <input type="text" name="description"><br>
            <b>Brand Name:</b> <input type="text" name="brand_name"><br>
            Brand Description: <input type="text" name="brand_description"><br>
            Brand Point of Contact: <input type="text" name="brand_poc"><br><br>

            <input type="submit" value="Add">
        </p>
        </form>
        
    </body>

</html>