<!DOCTYPE html>
<html>
    <head>
        <title>Admin - Edit Product</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}">
    </head>

    {% block body %}
    <body>
        <h1 class='centerbutton'>Edit an Existing Product</h1>
        <a href="../product">Return to All Products</a><br>
        {% from "_formhelper.html" import render_field %}

        <form method="POST" action="">
            {{render_field(form.product_name)}} <br>
            {{render_field(form.product_category)}} <br>
            {{render_field(form.cur_size)}} <br>
            {{render_field(form.upc)}} <br>
            {{render_field(form.unit_of_measure)}} <br>
            {{render_field(form.buy_price_per_unit)}} <br>
            {{render_field(form.item_price)}} <br>
            {{render_field(form.package_quantity)}} <br>
            {{render_field(form.region)}} <br>
            {{render_field(form.country)}} <br>
            {{render_field(form.color)}} <br>
            {{render_field(form.description)}} <br><br>

            <input type="submit" value="Update">
        </p>
        </form>
        
    </body>
    {% endblock %}

</html>