<!DOCTYPE html>
<html>
    <head>
        <title>Order {{ order.order_number }} Details</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}">
    </head>

    <body>
        <div class="centerbutton">
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              <ul class=flashes>
                {% for message in messages %}
                  {{ message }}
                {% endfor %}
              </ul>
            {% endif %}
          {% endwith %}
        </div class="centerbutton">
        <div class="topnav">
          <a class="topnavbuttonhome" href="admin/orders">Back to All Orders</a>
        </div>
      
        <h1 class="centerbutton">Admin - Order {{ order.order_number }} Details</h1>

    <div class="orddetheader">
        Order Number: {{ order.order_number }}<br>
        Customer ID: {{ order.customer_id }}<br>
        Customer Name: {{ order.first_name }} {{ order.last_name }}<br>
        Customer Email: {{ order.customer_email }}<br>
        Order Total: {{ order.total }}<br>
        Order Tax: {{ order.tax }}<br>
        Order Discount: {{ order.discount }}<br>
        
    </div>


</html>



select distinct o.order_id, o.order_number, o.customer_id, c.first_name, c.last_name, c.email, o.total, o.tax, o.discount, o.is_void, s.carrier, s.tracking_number, s.ship_date, s.delivered_date from orders o inner join customer c on c.customer_id = o.customer_id left join shipment s on s.order_id = o.order_id