<h2>Order Details </h2>
<table class="table">
    <tbody>
    <tr>
        <td colspan="2">
            <h4 style="text-align: center;">Summery</h4>
        </td>
    </tr>
    <tr>
        <th>Order ID</th>
        <td>{{ order.order_id }}</td>
    </tr>
    <tr>
        <th>Creation Date</th>
        <td>{{ order.customer_id }}</td>
    </tr>
    <tr>
        <th>Total price</th>
        <td>{{ order.total }}</td>
    </tr>
    <tr>
        <th>Status</th>
        <td>{{ order.order_number }}</td>
    </tr>
    <tr>
        <td colspan="2">
            <h4 style="text-align: center;">Item details</h4>
        </td>
    </tr>
    </tbody>
</table>
