<!DOCTYPE html>
<html>
    <head>
        <title>{{category}}</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}">
    </head>

    <body>
        <div class="topnav">
            <a class="topnavbuttonhome" href="/">Home</a>
            <a class="topnavbuttonhome" href="/orders">Orders</a>
            <a class="topnavbutton" href="/cart">Checkout {{itemcount}} items</a>
            {% if login == None %}
              <a class="topnavbutton" href="/login">Login/SignUp</a>
            {% else %}
              <a class="topnavbutton" href="/signup">Edit Profile</a>
              <form method="POST" action="/logoutpost">
                <button class="topnavbutton" style="color: #333">Logout</button>
              </form>
            {% endif %}
        </div>
          
        <h1 class='centerbutton'>{{category}}</h1>

        <table class='prdtable'>
            <thead>
            <tr>
                <th>Product Name</th>
                <th>Unit of Measure</th>
                <th>Item Price</th>
                <th>Package Quantity</th>
                <th>Region</th>
                <th>Country</th>
                <th>Color</th>
                <th>Description</th>
                <th>Brand Name</th>
                <th>Brand Description</th>
                <th>In Cart</th>
                <th>Buy</th>
            </tr>
            </thead>
            <tbody>
            {% for p in products %}
            <tr>
                <td>{{p['product_name']}}</td>
                <td>{{p['unit_of_measure']}}</td>
                <td>${{p['item_price']}}</td>
                <td>{{p['package_quantity']}}</td>
                <td>{{p['region']}}</td>
                <td>{{p['country']}}</td>
                <td>{{p['color']}}</td>
                <td>{{p['description']}}</td>
                <td>{{p['brand_name']}}</td>
                <td>{{p['brand_description']}}</td>
                <td>{{p['count']}}</td>                
                <td>
                    <form method="POST" action="{{ url_for('category', category=category, product_id=p['product_id']) }}">
                        <input class="editbtn" type="submit" value="Add to cart">
                    </form>
                </td>
            {% endfor %}
            </tr>
            </tbody>
        </table>
        
    </body>

</html>