<!DOCTYPE html>
<html>
  <head>
    <title>Booze.io!</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}">
  </head>


<body>
  <div class="centerbutton">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
          {% for message in messages %}
            {{ message }}
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
  </div class="centerbutton">
  <div class="topnav">
    <a class="topnavbuttonhome" href="/">Home</a>
    <a class="topnavbutton" href="/cart">Checkout {{itemcount}} items</a>
    {% if login == None %}
      <a class="topnavbutton" href="/login">Login/SignUp</a>
    {% else %}
      <a class="topnavbutton" href="/signup">Edit Profile</a>
      <form method="POST" action="/logoutpost">
        <button class="topnavbutton" style="color: #333">Logout</button>
      </form>
    {% endif %}
  </div>

  <h1 class="centerbutton">Booze.io: Your favourite Alcohol Delivery Service!</h1>

<!--   <p><a href="another">Go to the other page</a></p>

  <form method="POST" action="/add">
  <p>Name of new computer scientist: <input type="text" name="name"> <input type="submit" value="Add"></p>
  </form> -->

  <p class="centerbutton">Choose from your favourite types</p>
  <div class="centerbutton">
    {% for c in category %}
      <form method="POST" action="{{url_for('category', category=c)}}" style="display: inline-block">
        <button class="buttoncategory">{{c}}</button>
      </form>
    {% endfor %}
  </div>

  <p class="centerbutton">Choose from your favourite brands</p>
  <div class="centerbutton">
    {% for b in brand %}
      <form method="POST" action="{{url_for('brand', brand=b)}}" style="display: inline-block">
        <button class="buttonbrand">{{b}}</button>
      </form>
    {% endfor %}
  </div>

</body>

</html>
