<!DOCTYPE html>
<html>
    <head>
        <title>Order {{ order.order_number }} Details</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}">
    </head>

    <body>
        <div class="centerbutton">
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <ul class=flashes>
                  {% for message in messages %}
                    {{ message }}
                  {% endfor %}
                </ul>
              {% endif %}
            {% endwith %}
          </div>

          <div class="topnav">
            <a class="topnavbuttonhome" href="/">Home</a>
            <a class="topnavbuttonhome" href="/orders">Orders</a>
            <a class="topnavbutton" href="/cart">Checkout {{itemcount}} items</a>
            {% if login == None %}
              <a class="topnavbutton" href="/login">Login/SignUp</a>
            {% else %}
              <a class="topnavbutton" href="/signup">Edit Profile</a>
              <form method="POST" action="/logoutpost">
                <button class="topnavbutton" style="color: #333">Logout</button>
              </form>
            {% endif %}
          </div>

        <h1 class='centerbutton'>Order {{order.order_number}} Details</h1>

        <div class="orddetcontainer">
            <div class="payment">
                Order Number: {{ order.order_number }}<br>
                Customer Name: {{ order.first_name }} {{ order.last_name }}<br>
                Customer Email: {{ order.email }}<br>
                {% if order.is_void == True %}
                    *****ORDER VOIDED*****<br>
                {% endif %}
                {% if order.is_void == False %}
                    Carrier: {{ order.carrier }}<br>
                    Tracking Number: {{ order.tracking_number }}<br>
                    Ship Date: {{ order.ship_date }}<br>
                    Delivered Date: {{ order.delivered_date }}<br>
                {% endif %}
            </div>
            </div>
        
            <div><br><br>
            <p><h2 class="centerbutton">Order Items</h2></p>
        
            <table class='prdtable'>
              <thead>
              <tr>
                  <th>Product ID</th>
                  <th>Product Name</th>
                  <th>Brand</th>
                  <th>Product Category</th>
                  <th>UPC</th>
                  <th>Unit of Measure</th>
                  <th>Region</th>
                  <th>Country</th>
                  <th>Color</th>
                  <th>Quantity</th>
                  <th>Price</th>
                  <th>Discount</th>
              </tr>
              </thead>
              <tbody>
              {% for od in order_details %}
              <tr>
                  <td>{{od['product_id']}}</td>
                  <td>{{od['product_name']}}</td>
                  <td>{{od['brand_name']}}</td>
                  <td>{{od['product_category']}}</td>
                  <td>{{od['upc']}}</td>
                  <td>{{od['unit_of_measure']}}</td>
                  <td>{{od['region']}}</td>
                  <td>{{od['country']}}</td>
                  <td>{{od['color']}}</td>
                  <td>{{od['quantity']}}</td>
                  <td>{{od['price']}}</td>
                  <td>{{od['discount']}}</td>
              {% endfor %}
              </tr>
              </tbody>
          </table>
          </div>
        
          <div class="centerbutton">
            Order Total: {{ order.total }}<br>
            Order Tax: {{ order.tax }}<br>
            Order Discount: {{ order.discount }}<br>
            Payment Method: {{ order.payment_method }}<br>
            Payment Status: {{ order.payment_status }}<br>
            Credit Card: {{ order.credit_card }}<br>
            Expiration Date: {{ order.expiration_date }}
        </div>
        
    </body>

</html>