<!DOCTYPE html>
<html>
  <head>
    {% if edit == False %}
      <title>Signup to Booze.io</title>
    {% else %}
      <title>Edit details</title>
    {% endif %}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}">
  </head>


<body>
  <div class="topnav">
    <a class="topnavbuttonhome" href="/">Home</a>
    <a class="topnavbuttonhome" href="/orders">Orders</a>
    <a class="topnavbutton" href="/cart">Checkout {{itemcount}} items</a>
  </div>
  {% from "_formhelper.html" import render_field %}
  <form class="centerbutton" method="POST" action="/signuppost">
      {{render_field(form.email)}} <br>
      {{render_field(form.password)}} <br>
      {{render_field(form.reenterpassword)}} <br>
      {{render_field(form.firstname)}} <br>
      {{render_field(form.lastname)}} <br>
      {{render_field(form.dob)}} <br>
      {% if edit == False %}
        <input type="submit" value="Sign Up">
      {% else %}
        <input type="submit" value="Update">
      {% endif %}
  </form>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
        {% for message in messages %}
          {{ message }}
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

</body>

</html>
